<!DOCTYPE html>
<html lang="en">
<head>
    <title>Porsche</title>
    <link rel="stylesheet" href="style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

</head>
<body class = "loginbody">
    
    <img src="loginlogo.png" class="loginlogo">

    <div class="l">
        <div class="forms">
            <div class="form login">
                <span class="title">Login as an Admin</span>

                <form action="/AdminLogin" method="post">
                    <div  class="input-field">
                    <input name="mail" type="text" placeholder="Enter your email" required>
                    <i class="uil uil-envelope"></i>
                    </div>
                    <div class="input-field">
                        <input name="password" type="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock"></i>
                        </div>


                        <div class="b2">
                            <button>Login</button>
                        </div>
                </form>

            
            </div>
    </div>
</body>
</html>   